[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
torchvision = "*"
pandas = "*"
numpy = "*"
scipy = "*"
tqdm = "*"
pillow = "==8.3.2"
tensorboard = "*"
torchviz = "*"
matplotlib = "*"
seaborn = "*"
array2gif = "*"
bootstrapped = "*"

[requires]
python_version = "3.7"
